.ha-zero{
     background-color:white;
     /* background-image:url("2/adeniumbg1.jpg");background-repeat:no-repeat; */
	   /* background-size:100% 100%;background-attachment: fixed; */
}
.ha-zero1{
    text-align:center;
    margin: 20px;
}
.ha-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:whitesmoke;
  padding:15px;
  grid-gap:15px;
}
.ha-grid-item {
  background-color:rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size:30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.ha-one{
  text-align: center;
 font-family:'Times New Roman', Times, serif;
 color:gray;  
}
.ha-grid-container1{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:whitesmoke;
  padding:15px;
  grid-gap:15px;
}
.ha-two{
  width:100%;
  height:80vh!important;
}
.ha-three{
  background-color:#c0ec83;
  /* width:25%; */
  /* height:60%; */
  padding:10px;
  margin:5px;
  /* float: left; */
  margin-bottom: 10px;
}
.ha-grid-container2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:whitesmoke;
  padding:15px;
  grid-gap:15px;
}
.ha-rightalign{
  float:right;
  background-color: white;
  width:70%;
  margin-right:0px;
}
.ha-center{
  background-color:whitesmoke!important;
  color: gray;
  text-align: center;
  /* width:68%; */
}
/* .margin{
  margin: 0px;
  width:auto;
} */
.ha-padding{
  padding:10px;
}
.ha-pagesDescription{
  display: flex;
  flex-direction: column;
}
.ha-row{
  margin:0px!important;
}
.ha-fixed{
  width:100%;
  height:30vh;
}
.ha-four {
  position: relative;
}

.ha-four1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:gray;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  font-size:20px;
}
.ha-four:hover .ha-four1{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.chnavigation-par{
   list-style-type: none;
    margin: 0px;
    padding: 0px;
   /* overflow: hidden;*/
    background-color: white;
    position: fixed;
    width:100%;
    top: 0px;
    z-index: 1;
}
.chfixed{
  margin-bottom: 4%;
}
.chnavigation  a {
  color:#9b9b9b;
  display:block;
  text-align: center;
  text-decoration: none;
  padding:16px 25px;
  font-weight: 500;
}
.chnavigation {
  float:right;
}
.chnavigation  a:hover{
     color:green;
}
.dopdownli
{
  /*display: flex;align-items: center;
  justify-content: center;
  height: 100%;*/
  padding:9px 25px;
}
.dopdownbutton{
  background-color: transparent!important;
  font-weight: 500!important;
    color: #9b9b9b;
    text-transform: capitalize;

}
.dopdownbutton:focus{
  outline:none!important;
  background-color: transparent!important;
  box-shadow: none!important
  
}
.dropdown-menu li a{
    text-align: center;
    padding:10px;
    font-size: 14px;
    font-weight:500;
}
.dropdown-menu li{
  width:100%;
}
.chblackbox{
  background-color: rgba(0,0,0,0.7);
  color:white;
  margin-top: 1%;
}
.chgrid-container{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap:25px;
  padding:25px;
}
